<html>
  <head>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <style>
      #map {
        height: 500px;
      }

      .collapsible {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
      }

      .active, .collapsible:hover {
        background-color: #ccc;
      }

      .list-content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
      }
    </style>
  </head>
  <body>
    <h1>Locations</h1>

    <button type="button" class="collapsible">Show data</button>
    <div id="list-content">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>User</th>
            <th>Timestamp</th>
            <th>Lat</th>
            <th>Lng</th>
            <th>Alt</th>
          </tr>
        </thead>
        <tbody>
          {{ range $v := .Locations }}
          <tr>
            <td>{{ $v.Id }}</td>
            <td>{{ $v.Username }}</td>
            <td>{{ $v.Created.Format "2006-01-02 15:04" }}</td>
            <td>{{ $v.Lat }}</td>
            <td>{{ $v.Lng }}</td>
            <td>{{ $v.Alt }}</td>
          </tr>
          {{
            end
          }}
        </tbody>
      </table>
    </div>
    <hr />
    <div id="map"></div>
    <script>
      // collapsible
      var coll = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.display === "block") {
            content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        });
      }

      var locations = [
        {{ range $v := .Locations }}[{{$v.Lat}},{{$v.Lng}}],{{end}}
      ]

      var map = L.map('map').setView(locations.at(0), 13);
      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);

      locations.forEach(x => {
        L.circle(x, {
          color: "blue",
          radius: 5
        }).addTo(map)
      })
    </script>
  </body>
</html>
